<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <meta charset="utf-8">
  <title>Welcome to Oregon Trail!!!</title>
</head>

<body>
  <img class="homeImg" src="http://traveloregon.com/content/uploads/2016/02/Waterfalls_EricVogt_2000x1000.jpg" width="100%" />

  <h1>Welcome to the Oregon Trail!!!</h1>

  <form action="/nameTravelers" method="post">
    Number of Travelers (between 2 and 7): <input type="number" name="quantity" min="2" max="7">
    <input class="homeButton" type="submit">

  </form>

</body>

</html>
