<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1 class="sickMessage">Your journey on the trail is over.</h1>
  <% include partials/game-status %>

    <a href="/"><button type="button" name="button">Play Again</button></a>
</body>

</html>
