<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <br>
  <div class="playerStatus">
    <h2 class="supplyMessage">Below are the supplies you were able to gather before your adventure...</h2>
    <% include partials/game-status %>
  </div>
  <br>
  <a href="/location">
    <button class="expedition" type="button" name="button">Start Expedition!</button>
  </a>
  <br>

</body>

</html>
