<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1 class="sickMessage"> <%= game.recentlyRecovered %> found a medical kit and was able to recover.</h1>
    <div class="playerSick">
      <% include partials/game-status %>
    </div>
    <a href="/turn"><button type="button" name="button">Continue</button></a>
</body>

</html>
